:root {
  --black: #020403;
  --black-2: #050807;
  --green: #00ff88;
  --green-dark: #00a85a;
  --cyan: #00eaff;

  --white: #f2fff8;
  --gray: #718078;
  --gray-light: #aab8b1;

  --border: rgba(0, 255, 136, .18);

  --font-main: "Arial", sans-serif;
  --font-mono: "Courier New", monospace;

  --ease: cubic-bezier(.16, 1, .3, 1);
}
